<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100hv;
	overflow-x: hidden;
}
</style>
<title>Details</title>
</head>
<body>

	<section id="header">
		<nav class="navbar navbar navbar-dark bg-dark navbar-expand-lg  "
			style="background-color: #e3f2fd;">

			<a class="navbar-brand" href="/"> <img
				th:src="@{/images/pass_fail_160px.png}"
				class="d-inline-block align-text-top" width="30" height="30"
				alt="icon"> myems.io
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/logout}">Logout <img
							th:src="@{/images/sign_out_32px.png}"
							class="d-inline-block align-text-top" width="25" height="25"
							alt="icon"></a></li>
				</ul>
			</div>
		</nav>
	</section>
	<br>

	<div class="container" align="left" th:if="${employee}">
		<h3 align="center">
			<img th:src="@{/images/profile_200px.png}"
				class="d-inline-block align-text-top" width="40" height="40"
				alt="icon"> Employee Directory
		</h3>
		<hr>
		<p class="h4 mb-4">Details Employee</p>


		<table class="table  table-hover  table-striped">
			<thead class="thead-info">
				<tr th:if="${employee}">
					<th>Serial No.</th>
					<td th:text="${employee.id}"></td>
				</tr>
			</thead>
			<tr th:if="${employee}">
				<th>First Name</th>
				<td th:text="${employee.firstName}"></td>
			</tr>
			<tr th:if="${employee}">
				<th>Last Name</th>
				<td th:text="${employee.lastName}"></td>
			</tr>
			<tr th:if="${employee}">
				<th>E-Mail</th>
				<td th:text="${employee.email}"></td>
			</tr>
			<tr th:if="${employee}">
				<th>Mobile</th>
				<td th:text="${employee.phone}"></td>
			</tr>
			<tr th:if="${employee}">
				<th>Expert At</th>
				<td th:text="${employee.framework}"></td>
			</tr>
			<tr th:if="${employee}">
				<th>salary</th>
				<td th:text="${employee.salary}"></td>
			</tr>

			<tr th:if="${employee}">
				<th>Address</th>
				<td th:text="${employee.address}"></td>
			</tr>
			<tbody>
			</tbody>

		</table>
		<div align="left">
			<a th:href="@{/employees/list}" class="btn btn-warning btn-sm mb-3">Back
			</a> <a th:href="@{/employees/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3"> Add Employee </a> <a
				th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}"
				class="btn btn-info btn-sm mb-3"> Update </a> <a
				th:href="@{/employees/delete(employeeId=${employee.id})}"
				class="btn btn-danger  btn-sm mb-3"
				onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
				Delete </a>
		</div>

	</div>

</body>
</html>

